ul {
  list-style-type: none;
  width: 40%;
  margin: auto;
  border: 1px solid lightgray;
  margin-top: 5em;
  padding: 0;
}
.title {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  height : 50px;
  line-height : 50px;
}

li {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li input {
  font-family: Helvetica, sans-serif;
  font-size: 19px;
}

li input[type='checkbox'] {
  height: 0;
  width: 0;
  display: none;
  cursor: pointer;
}

.checkmark {
  margin: 10px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 2px solid #b4b4b6;
  border-radius: 4px;
  cursor: pointer;
}

.checkmark:hover {
  border-color: #8c8c8f;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

li input[type='checkbox']:checked ~ .checkmark {
  border-color: transparent;
}

li input[type='checkbox']:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  width: 5px;
  height: 14px;
  margin-left: 4px;
  border: solid #2196F3;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.right-icon {
  width: 100%;
}

button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

button img {
  filter:invert(80%);
}

button img:hover {
  filter:invert(0);
}

.input {
  width: 90%;
  padding: 2px 5px;
  outline: none;
  border: none;
  background-color: transparent;
}

.highlighted {
  background-color: #fffeca;
}

.disabled {
  cursor: default;
}

.full-width-btn {
  width: 100%;
  font-size: 15px;
}

.full-width-btn:hover {
  color: red;
  border: none;
}

.drag-and-drop {
  cursor: move;
  width: 20px;
  height: 20px;
  background-image: url(../images/hree-dots-vector.png);
  background-size: contain;
  margin: 10px;
}

.completed {
  text-decoration: line-through;
}

.number-label {
  background-color: red;
  position: absolute;
  margin: -5px -7px;
  width: 12px;
  height: 12px;
  color: #fff;
  border-radius: 100%;
  font-size: 9px;
}

.rotate-me {
  animation:spin 2s linear infinite;
}

@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.over {
  background-color: #b4b4b6;
}